@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}

    <h1>@Model.Heading</h1>
    <ul class="gigs voffset4">
        @foreach (var item in Model.UpCommingGigs)
        {
        <li>
            <div class="date">
                <div class="month">
                    @item.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @item.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @item.Artist.Name
                    @if (item.IsCanceled)
                    {
                        <label class="label label-warning">Canceled </label>
                    }
                    @if (Model.ShowActions)
                    {
                        <button class="btn btn-link btn-sm js-toggel-follow" data-user-id="@item.ArtistId">Follow</button>
                    }
                </span>
                <span class="genre">
                    @item.Genre.Name
                </span>
                @if (Model.ShowActions && !item.IsCanceled)
                {
                    <button class="btn btn-default btn-sm pull-right js-toggel-attendance">Going?</button>
                }
            </div>
        </li>
        }
    </ul>
@section scripts{
    <script>
        $(document).ready(function () {
            $(".js-toggel-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { gigId: button.attr("data-gig-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });

            $(".js-toggel-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });
            });
        
    </script>
    }